@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Oswald');



/* Colors */
:root {
  --gray-shadow: rgb(37, 37, 37);
  --gray-sidebar: #333333;
  --gray-footnote: #6C6C6C;
  --gold-button: #F2DD86;
  --brown-black: #704800;
  --ash-white: #F2F3F4;
}

/* Components */
.h1-barlow{
  color: white;
  font-size: 5rem;
  font-family: 'Barlow-ExtraBold', sans-serif;

  letter-spacing: .4rem;
}


.h2-barlow{
  color: var(--ash-white);
  font-size: 3.5rem;
  font-family: 'Barlow-ExtraBold', sans-serif;
  letter-spacing: 0.1rem
}

.h2-underland{

  background-image: linear-gradient(to right,  #AD802F, #F2DD86, #AD802F, #F2DD86, #AD802F);     
  background-image: -webkit-linear-gradient(to right,  #AD802F, #F2DD86, #AD802F, #F2DD86, #AD802F);     
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text; 
  font: normal 4rem 'Underland', sans-serif;
}

.h3-underland{
  background-image: linear-gradient(to right,  #AD802F, #F2DD86, #AD802F, #F2DD86, #AD802F);     
  background-image: -webkit-linear-gradient(to right,  #AD802F, #F2DD86, #AD802F, #F2DD86, #AD802F);     
  color:transparent;
  -webkit-background-clip: text;
   background-clip: text;
  font: normal 3rem 'Underland', sans-serif;
}

.sec-title{
  position: relative;
  top: -2.5rem; 
}


/* Font Faces */
@font-face {
  font-family: Barlow-ExtraBold;
  src: url(Library/fonts/Barlow/Barlow-ExtraBold.ttf)
}

@font-face {
  font-family: Underland;
  src: url(Library/fonts/Underland-Alternative.otf);
}

/* Animations */
.kenburns-top {
	-webkit-animation: kenburns-top 20s linear infinite alternate both;
	        animation: kenburns-top 20s linear infinite alternate both;
}

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}


/* Bootstrap Overrides */

.bg-black
{
  background-color: rgba(0,0,0,1)!important;
}

.bg-black-with-opacity
{
  background-color: rgba(0,0,0,0.90)!important;
}

.container-fluid
{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    opacity: 1;
    color: #ffb24a !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    opacity: .85;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link
{
  color: #ffb24a !important;
}

.navbar .dropdown-menu .dropdown-item:hover
{
  background-color: black;
  color: #ffb24a;
}

/* General */

.link-deco-none
{
  text-decoration: none !important;
  color: white;
}

.link-deco-none:hover
{
  color: #ffb24a!important;
}

#social-media-icons a
{
  font-size: 1rem;
  color: white;
}

#social-media-icons a:hover
{
  color: #ffb24a!important;
}

.main-container {
  display:flex;
  flex:1
}

.nav-container{
flex:1
}

.page-container{
flex:6
}


/* Navigation */

/* .navbar .dropdown-item, .navbar .dropdown-menu
{
  background-color: black;
  color: white;

} */


/* Controls Section */

#controls-section .control-title
{
  color: #ffb24a !important;
  font-size: 1.25em;
}



/* Home Section */

/* Slider Classes*/

::-webkit-scrollbar {
  display: none;
}


.nextButton {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url('Library/img/next-button.png') no-repeat center center / 3rem;
  width: 5rem;
  height: 7rem;
  text-indent: -9999px;
  cursor: pointer;
}

.slider {
    position: absolute !important;
    bottom: 0px !important;
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}

/* END OF SLIDER CLASSES*/



.home-section {
  width: 100%;
  height: 200%;
}

.upper-section {
  width: 100%;
  height: 50%;
}

.home-intro {
  position: absolute;
  width: 70%;
  height: 100%;
  z-index: 2;

  left: 23%;
}

.home-img-logo {
  height: auto;
  width: 20%;
}

/* Change */
#home-intro-large-text-white {
  color: white;
  font-size: 3rem;
  font-family: 'Barlow-ExtraBold', sans-serif;
  
}

/* Change */
#home-intro-large-text-gold {
  background-image: linear-gradient(to right,  #AD802F, #F2DD86, #AD802F, #F2DD86, #AD802F);     
  background-image: -webkit-linear-gradient(to right,  #AD802F, #F2DD86, #AD802F, #F2DD86, #AD802F);     
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;

  position: relative;
  top: -2rem;
  
  font: normal 50px 'Underland', sans-serif;
}


.body-main{
  font:  normal 1rem 'Barlow-Thin', sans-serif;
  color: var(--ash-white);

  line-height: 2rem;
  letter-spacing: .1rem;
}

/* for centering 
  BS4: text-center --for container div
    margin-left: auto;
    margin-right: auto;

    vertical-align: middle;
*/

.home-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}


.home-bg-img-canvas {
  position: absolute;
  right: 0%;
  height: 100%;
  width: 100%;
}

.home-bg-img-coffeebean {
  position: relative;
  left: 15%;
  top: 5%;
}

.down-button {
  transform: rotate(90deg);
  position: absolute;
  right: 40%;
  bottom: 5%;
  z-index: 10;
  background: url('Library/img/next-button.png') no-repeat center center / 2rem;
  width: 4rem;
  height: 6rem;
  cursor: pointer;
}

.lower-section {
  height: 50%;

  position: relative;
  bottom: 0%;
}

html {
  scroll-behavior: smooth;
}

.heading {
  width: 180%;
  height: 20%;

  position: absolute;
  top: 18%;
  left: 10%;
}


#large-text-pc {
  position: absolute;
  top: 4rem;
  height:80%;
}

.sub-text {
  width: 55%;
  height: 20%;

  position: absolute;
  top: 43%;
  left: 10%;
}

.sub-text p {
  font:  normal 1.1rem 'Barlow-Thin', sans-serif;
  color: white;

  line-height: 2rem;
  letter-spacing: .1rem;
}

.link-button {
  position: absolute;
  top: 75%;
  left: 10%;

}

.link-button .button-wide {
  border: .3rem solid;
  border-image: linear-gradient(95deg, #AD802F, #F2DD86, #AD802F, #F2DD86, #AD802F) 1;
  background-color: transparent;
  padding: 5px 25px;

  font: normal 1rem 'Barlow-Regular', sans-serif;
  color: var(--gold-button);
  line-height: 2rem;
  letter-spacing: .1rem;

  width: 100%;

  cursor: pointer;
}

.link-button .button-wide:hover {
  background-color: var(--gold-button);
  color: var(--brown-black);
  border-image: var(--gold-button) !important;

}



/*  About Section */

.about-section {
  padding-left: 15%;
  width: 100%;
  height: 220%;

  background-color: var(--gray-sidebar);
}

.about-section > div {
  width: 100%;
  height: 50%;
  position: relative;
}

.about-upper-section {
  /* background-color: rgb(33, 80, 33); */
  background: var(--gray-sidebar) url(Library/img/about-bg-img-gradient.png) no-repeat right;
  background-size: cover;
}

.about-header {
  position: absolute;
  width: 100%;
  height: 18%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
  top: 5%;
}

.about-header > p {
  position: absolute;
  width: 50%;
  line-height: 50%;
  z-index: 3;
}

#about-header-left {
  top: 20%;
  left: 0%;
  text-align: right;

  background-image: linear-gradient(to right,  #AD802F, #F2DD86, #AD802F, #F2DD86, #AD802F);     
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;

  font: normal 3rem 'Underland', sans-serif;
  letter-spacing: .1rem;
}

#about-header-right {
  top: 35%;
  right: 0px;
  padding-left: 2%;
  text-align: left;

  font:  normal 1rem 'Barlow-ExtraBold', sans-serif;
  color: white;

  letter-spacing: .4rem;
}

.about-upper-section img {
  /* position: relative;
  top: 25%;
  left: 15%; */
  display: inline-block;
  margin-top: 15%;
}


.about-lower-section {
  background: #33333300;

  overflow: hidden;
}

.about-bg-img-coffeebean {
  height: 120%;
  width: 35%;
  position: absolute;
  left: -6%;
  z-index: 0;
}

.about-lower-left {
  position: absolute;
  left: 0%;
  height: 100%;
  width: 50%;
  z-index: 100;
  padding-top: 7%;
}

.about-lower-left-title {
  background-image: linear-gradient(to right,  #AD802F, #F2DD86, #AD802F, #F2DD86, #AD802F);     
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;

  text-align: left;
  padding-left: 20%;

  font: normal 2rem 'Underland', sans-serif;
}

.about-lower-left-text {
  padding: 0% 20%;
  text-align: left;

  font: normal .7rem 'Barlow-Regular', sans-serif ;

  line-height: 1.3rem;
  letter-spacing: .1rem;
  color: white;
}

.about-lower-left-subtext {
  padding: 10% 25% 0%;
  text-align: left;
  
  font: normal .9rem 'Barlow-Regular', sans-serif ;
  line-height: 2rem;
  letter-spacing: .1rem;
  color: white;
}


.about-lower-right {
  position: absolute;
  right: 0%;
  height: 100%;
  width: 50%;
  z-index: 100;
  padding-top: 7%;
}

.about-lower-right-title {
  background-image: linear-gradient(to right,  #AD802F, #F2DD86, #AD802F, #F2DD86, #AD802F);     
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;

  text-align: left;

  font: normal 2rem 'Underland', sans-serif;
}

.about-lower-right-text {
  padding-right: 20%;
  text-align: left;

  font: normal .7rem 'Barlow-Regular', sans-serif ;

  line-height: 1.3rem;
  letter-spacing: .1rem;
  color: white;
}

.about-lower-right-cards img {
  margin: 2% auto 0%;
}

/*
#about-section .about-coffee
{
  width: 50%;
}

#about-section .about-title
{
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 3px;
}

#about-section .about-description
{
  font-style: italic;
  font-size: 0.8em;
}

#about-section .about-mv-description
{
  font-size: 0.95em;
}

#about-section .about-quote
{
  margin-top: 9%;
  font-size: .63em;
}

#about-section .about-section-line
{
  position: absolute;
  height: 100%;
  width: 12%;
  bottom: 0;
  left: 15%;
  background-color: #ffb24a;
}

.full-height-toggle
{
  height: 100%;
}

#about-section .about-more
{
  color: #ed1c24 !important;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (min-width: 900px) {

  #about-section .about-coffee
  {
    position: fixed;
    left: 5%;
    width: 30%;
    bottom: 12%;
  }

  #about-section
  {
    padding: 10% 0 !important;
  }

  #about-section .about-title
  {
    font-size: 4.2rem !important;
  }

  #about-section .about-description
  {
    font-size: 1.1em;
  }


  #about-section .about-quote
  {
    margin-top: 10%;
    font-size: 1em;
  }

} */

/* Menu Section */

#menu-section
{
  padding: 15% 0;
  background-color: #f7f7f7;
  color: #1d1d1d;
  height: 100%;
}

#menu-section .tab-content
{
  background-color: #f7f7f7;
}

#menu-section .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #721c24;
}

#menu-section .container-card:hover .overlay {
  opacity: .9;
  cursor: default;
}

#menu-section .text {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


#menu-section .card {
  background-color: #f7f7f7;
  border: 0px !important;
}

#menu-section .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.3rem;
}

#menu-section .nav-pills-option
{
  background-color: #e7e7e7;
}

#menu-section .card-footer
{
  position: absolute;
  bottom: 0;
  color: white;
}

#menu-section a
{
  color: #1d1d1d;
  font-size: 1em;
}

#menu-section .card-title {
    font-weight: bold;
    color: white;
    letter-spacing: .6px;
}

#menu-section .menu-title-box
{
  background-color: #ffb24a!important;
  padding: 45px 0px;
  position: relative;
  border-radius: 30px 0px 0px 30px;
}

#menu-section .menu-title
{
  position: absolute;
  right:0;
  bottom: 0;
  color: white;
  word-spacing: 3px;
  letter-spacing: 1px;
}


#menu-section .nav-pills .nav-link.active, #menu-section .nav-pills .show>.nav-link
{
  background-color: #721c24;
  color: white;
}

@media only screen and (min-width: 769px) {

  #menu-section
  {
      padding: 7% 0;
  }

  #menu-section .text {
    font-size: 20px;
  }


}

/* Partners Section */

#partners-section
{
  background-color: #f7f7f7;
  color: #1d1d1d;
  height: 100%;
}

#partners-section .partners-background
{
  height: 100%;
  display: table;
  width: 100%;
  padding-top: 30%;
  text-align: center;
  color: white;
  background: url("Library/img/partners-bg.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#partners-section .partners-box
{
  padding: 20% 0;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
}

#partners-section .partners-title
{
  color: white;
  font-size: 2em;
  font-weight: 500;
}

#partners-section .btn-warning
{
  background-color: #ffb24a;
  border-color: #ffb24a;
  color: black;
  font-weight: 600;
  font-size: 1.1em;
}

#partners-section .partners-info
{
  padding: 8% 0;
  width: 100%;
}


#partners-section .partners-info
{
  padding: 5% 0;
}

#partners-section .info-title
{
  font-size: 1.3em;
  font-weight: 500;
}

#partners-section .btn-secondary
{
  background-color: #721c24;
  border-color: #721c24;
}

#partners-section .partner-details
{
  background-color: #ffb24a;
  color: #1d1d1d;
  padding: 6% 0 8% 0;
}

#partners-section .partner-details a
{
  text-decoration: none;
}

#partners-section .partner-details .alert-danger
{
  background-color: #721c24;
  border-color: #721c24;
  color: white;
}

@media only screen and (min-width: 600px) {

  #partners-section .partners-background
  {
    padding: 15% 0 35% 0;
  }

  #partners-section .partners-box
  {
    padding: 3% 0;
  }

  #partners-section .partners-title
  {
    font-size: 3.8em;
  }

}

#store-locator-section
{
  background-color: #f7f7f7;
  color: #1d1d1d;
}

#store-locator-section .map-search-overlay
{
  position: absolute;
  top: 15%;
  width: 80%;
  right: 5%;
}

#store-locator-section .map-section
{
  position: relative;
}

@media only screen and (min-width: 600px) {

  #store-locator-section .store-search-box
  {
    padding-top: 30%;
  }

}

#careers-section
{
  background-color: #f7f7f7;
  color: #1d1d1d;
  padding: 20% 0;
  height: 0%;
}

#careers-section .career-title-parent
{
  background-color: #1d1d1d;
  color: #d6943f;
  padding: 1.5% 0;
}

#careers-section .career-title
{
  font-size: 3em;
  font-family: 'Crete Round', Open Sans !important;
}

#careers-section .info-card {
  display: inline-block;
  margin: 10px;
  -webkit-perspective: 600px;
}

#careers-section .front,#careers-section .back {
  border-radius: 10px;
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

#careers-section .front {
  background-color: #721c24;
  overflow: hidden;
  color: white;
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 1;
}

#careers-section .back{
  font-size: 1.1rem !important;
  padding: 20px;
  padding-top: 0px;
  width: 250px;
  height: 300px;
  -webkit-transform: rotateY(-180deg);
  overflow: scroll;
}

#careers-section .card-image {
  width: 100%;
  height: 90%;
}

#careers-section .career-font{
  font-size: 2.5rem !important;
  font-family: 'Markazi Text', Open Sans !important;
}

#careers-section .career-pos{
  padding-top: 20px;
}

#careers-section .info-card:hover .back {
  -webkit-transform: rotateY(0);
}

#careers-section .info-card:hover .front {
  -webkit-transform: rotateY(180deg);
}

@media only screen and (min-width: 600px) {

  #careers-section
  {
    padding: 5% 0 !important;
    height: 100%;
  }

  #careers-section .career-title
  {
    font-size: 4em !important;

  }

}

/*  Contact Section */

#contact-section
{
  background-color: #f7f7f7;
  color: black;
  height: 100%;
  padding-top: 15%;
}


#contact-section .contact-sideimg{
  height: 100%;
  width: 80%;
  display: inline-block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact-section .contact-card {
  display: inline-block;
  -webkit-perspective: 800px;
  padding: 10% 0;
}

#contact-section .card-front, #contact-section .card-back{
  border-radius: 10px;
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

#contact-section .card-front{
  background-color: #721c24;
  overflow: hidden;
  width: 90%;
  height: 80%;
  position: absolute;
  z-index: 1;
  color: #dfd1c8;
  padding: 15px;
}

#contact-section .card-back
{
  background-color: #ffb24a;
  padding: 10px;
  width:  90%;
  height: 80%;
  -webkit-transform: rotateY(-180deg);
  overflow: hidden;
}
#contact-section .contact-card:hover .card-front{
  -webkit-transform: rotateY(-180deg);
}
#contact-section .contact-card:hover .card-back {
  -webkit-transform: rotateY(0);
}

#contact-section .contact-title
{
  font-size: 2.5rem !important;
  font-weight: 400;
}

#contact-section .contact-semi-title{
  font-size: 2rem !important;
  font-family: 'Oswald', Open Sans !important;
}

#contact-section .contact-description{
  font-size: 1rem !important;
  font-weight: 600;
  font-style: italic;
}

#contact-section .contact-back-description
{
  font-size: 0.85rem !important;
  font-weight: 500;
}

@media only screen and (min-width: 769px) {


  #contact-section
  {
    padding-top: 3%;
  }

}

@media only screen and (min-width: 1200px) {
    .video-background {
      background: #000;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      /* &::after {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: rgba(0,0,0,0.75)
      } */
  }
  .video-foreground,
  .video-background iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
  }

  @media (min-aspect-ratio: 16/9) {
      .video-foreground { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
      .video-foreground { width: 300%; left: -100%; }
  }
}

#wrapper {
  width: 15%;
  background-color: yellow;
  box-shadow: 4px 0px 5px var(--gray-shadow);
}

#sidebar-wrapper {
  background: var(--gray-sidebar);
  width: 100%;
}

.sidebar-heading {
  width: 100%;
  
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.sidebar-heading img {
  /* margin-top: 15%;
  margin-left: 20%; */
  
}

@font-face {
  font-family: Barlow-Regular;
  src: url(Library/fonts/Barlow/Barlow-Regular.ttf);
}

@font-face {
  font-family: Barlow-Thin;
  src: url(Library/fonts/Barlow/Barlow-Thin.ttf);
}


.list-group > a {
  color: white;
  font: normal 14px 'Barlow-Regular', sans-serif;
  letter-spacing: 2px;
}

.footnote {
  margin-top: 4rem;
}

.footnote-text {
  color: white;
  font: normal 10px 'Barlow-Thin', sans-serif;
  line-height: 15px;
}

.social-media-icon {
  font-size: 1rem;
  color: white;
}

.footnote-signature {
  color: var(--gray-footnote);
  font: normal 'Barlow-Thin', sans-serif;
  line-height: 10px;
}